<% provide(:title, "Help") %>
<div class="center jumbotron">
    <h1>About Us</h1>
      <hr>
      <p>
    This is a app with a mixture of static and dynamic pages that includes data validation, simple styles usage and layouts. Along with authentication and testing. This web application is just for educational purposes built on the process of learning ruby on rails.
 </p>

    
</div>
