<% provide(:title, "Help") %>
<div class="center jumbotron">
    <h1>Contact Us</h1>
      <hr>
      <p>
   If you have any queries or questions regarding this site,</p>
   <p> please feel free to contact us through information given below:
 </p>
 	<h4> Email : <a href="">srtatmg@gmail.com</a></h4>
 	<h4>Phone: +977 930 254 9371</h4>
 	<h4>Website: <a href="http://saritatamang.com.np/">http://saritatamang.com.np/</a></h4>

    
</div>
