<% provide(:title, "Help") %>
<div class="center jumbotron">
    <h1>FAQ</h1>
      <hr>
   	 <h3> HOW TO CREATE ACCOUNT? </h3>
    	<p>
      Simply go to sign up form and enter the required credentials. After successful signup, you login with your account details. </p>

   
   <br>

       <h3> HOW DO I ACTIVATE MY ACCOUNT?</h3> 
    	<p>
      The instructions to activate your account will be sent to your email once you have submitted the registration form. If you did not receive this email, your email service provider’s mailing software may be blocking it. You can try checking your junk / spam folder or contact us at srtatmg@gmail.com </p>

    
</div>
