<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>Welcome to My Rails App</h1>
 <h2>
    This is a demo app developed by learning online tutorial for ruby on rails.
  </h2>

 <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %> &nbsp &nbsp 

 <%= link_to "Login", login_path, class: "btn btn-lg btn-primary" %>

<hr>
<%= image_tag("rails.png", :alt => "rails feed") %>

 
</div>

