<div class="center jumbotron">

<% provide(:title, 'All users') %>
<h1>View all users</h1>
	<hr>
<ul class="users">
  <% @users.each do |user| %>
 <li>
  <%= gravatar_for user, size: 50 %>
  <p><%= link_to user.name, user %></p>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>

  <% end %>
 
</ul>

</div>