<% provide(:title, @user.name) %>
<div class="center jumbotron">
<div class="row">
  <aside class="col-md-4">
     <%= gravatar_for @user %> <br> <br>
	    <section class="user_info">
	<h3>
	  <p>Name: <%= @user.name %></p>
	  <p>Email: <%= @user.email %></p>
	   <p>Created At: <%= @user.created_at %></p>
	    <p>Updated At: <%= @user.updated_at %></p>
	   <p>Activation Status: <%= @user.activated %></p>
	</h3>
	</section>
	  </aside>
	</div>
	  <%= link_to "Go Back", users_path, class: "btn btn-md btn-primary" %>
</div>
