<footer class="footer">
  <small>
    A <a href="">simple rails app </a>
    developed by <a href="http://saritatamang.com.np/">Sarita Tamang</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help", help_path %></li>
       <li> <%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>