<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "My Rails App", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li> <%= link_to "About", about_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        
       <% if logged_in? %>
          <li><%= link_to "All Users", users_path %></li>
              <li><%= link_to "User Profile", current_user %></li>
              <li><%= link_to "Edit User", edit_user_path(current_user) %></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            
          </li>
        <% else %>
          <li><%= link_to "Sign up", signup_path %></li>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>